rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false; // Default deny
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if true; // Open for dev prototype
    }

    match /orders/{orderId} {
      allow read, write: if true; // Open for dev prototype
    }

    match /vouchers/{voucherId} {
      allow read: if true;
      allow write: if true; // Open for dev prototype
    }

    match /banners/{bannerId} {
      allow read: if true;
      allow write: if true; // Open for dev prototype
    }
  }
}
